h3{
  margin:0;
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  border-radius: 4px;
}
.heroes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.heroes .text {
  position: relative;
  top: -3px;
}
.heroes .badge{

  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  line-height: 1em;
  position: relative;
  left: -1px;
  border-radius: 4px 0 0 4px;
  background-color: #607D8B;
  height: 40px;
  margin-right: .8em;
}

button.delete {
  float:right;
  margin-top: 5px;
  margin-right: .8em;
  background-color: gray !important;
  color:white;
  border-radius: 5px;
}

li.list-group-item{
  padding: 0px;
}

.list-group-item>.badge{
  float: none;
}

#addHeroForm{
  margin-top: 20px;
  margin-bottom: 20px;
}

button.ascSortClass{
  background-color: #b4cbb4;
  color: white;
}

button.descSortClass{
  background-color: #cbb4b4;
  color: white;
}

button.sortInactive{
  background-color: white;
  color: black;
}

div#sortMessage div.ascSortClass{
  color: #b4cbb4;
}

div#sortMessage div.descSortClass{
  color: #cbb4b4;
}
